.btn {
	width: 232px;
	height: 53px;
	border: 2px solid rgba($color: #000000, $alpha: 0.5);
	color: rgba($color: #000000, $alpha: 0.75);
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 2.16px;
	display: block;
	&_header {
		margin: 0 auto;
		margin-top: 150px;
	}
}
