.header {
	min-height: 803px;
	padding: 63px 0 194px 0;
	position: relative;
	.container {
		position: relative;
	}
	&__menu {
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba($color: white, $alpha: 1);
		transition: 1s all;
		&-list {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-top: 100px;
		}
		&-item {
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
			a {
				display: block;
				text-decoration: none;
				color: black;
				text-align: center;
				font-family: "Montserrat";
				font-size: 30px;
				font-weight: 700;
			}
		}
		&-close {
			position: absolute;
			width: 30px;

			top: 24px;
			right: 20px;
			&:hover {
				cursor: pointer;
			}
			span {
				display: block;
				width: 100%;
				height: 3px;
				background-color: #606061;
				&:nth-child(1) {
					transform: translateY(50%) rotate(45deg);
				}
				&:nth-child(2) {
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		max-width: 112px;

		a {
			width: 100%;
		}
	}

	&__hamburger {
		width: 30px;
		&:hover {
			cursor: pointer;
		}
		span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: #606061;
			margin-bottom: 2px;

			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		text-align: center;
		margin: 0 auto;
		margin-top: 206px;

		max-width: 1020px;
		text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
		color: #505050;
		font-family: "Montserrat";
		font-size: 45px;
		font-weight: 700;
		line-height: 56px;
		text-transform: uppercase;
		letter-spacing: 2.7px;

		span {
			background-color: rgba($color: #76f4ea, $alpha: 0.5);
			padding: 0 14px;
		}
	}
	&__juice {
		position: absolute;
		right: 69px;
	}
}
