.say {
  min-height: 923px;
  padding: 121px 0 139px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    position: relative;
    margin-top: 137px;
  }
}
@media (max-width: 1199.98px) {
  .say {
    min-height: 771px;
    padding: 85px 0;
    &__wrapper {
      gap: 100px;
      margin-top: 85px;
    }
  }
}
@media (max-width: 991.98px) {
  .say {
    &__wrapper {
      margin-top: 55px;
      //   justify-content: center;
      gap: 10px;
      flex-direction: column;
    }
  }
}
@media (max-width: 575.98px) {
  .say {
    &__wrapper {
      width: 100%;
      gap: 10px;
    }
  }
}
