.team {
	min-height: 1286px;
	padding: 122px 0 118px 0;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(auto, 370px));
		grid-gap: 15px;
		justify-content: center;
		margin-top: 123px;
	}
	&__item {
		width: 100%;
		height: 440px;
		&:nth-child(1) {
			background: url("../img/team/1.png") center (center/cover) no-repeat;
		}
		&:nth-child(2) {
			background: url("../img/team/2.png") center (center/cover) no-repeat;
		}
		&:nth-child(3) {
			background: url("../img/team/3.png") center (center/cover) no-repeat;
		}
		&:nth-child(4) {
			background: url("../img/team/4.png") center (center/cover) no-repeat;
		}
		&:nth-child(5) {
			background: url("../img/team/5.png") center (center/cover) no-repeat;
		}
		&:nth-child(6) {
			background: url("../img/team/1.png") center (center/cover) no-repeat;
		}
	}
	&__inform {
		&-wrapper {
			position: relative;
			max-width: 335px;
			min-height: 241px;
			box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
			background-color: #6df6eb;
			padding: 43px 54px 57px 38px;
			margin-top: 25px;
			display: none;
			transform: translateX(-35px);
			&::before {
				position: absolute;
				top: 0;
				left: 22px;
				transform: translate(0, -97%);
				content: "";
				border: 15px solid transparent;
				border-bottom: 25px solid #6df6eb;
			}
		}
		&-title {
			color: #272727;
			font-family: "Merriweather";
			font-size: 20px;
			font-weight: 700;
			span {
				color: #767070;
				font-size: 15px;
				font-weight: 400;
				font-style: oblique;
			}
		}
		&-subtitle {
			margin-top: 23px;
			color: #000000;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.16px;
		}
		&-social {
			display: flex;
			width: 88px;
			justify-content: space-between;
			margin-top: 39px;
		}
		&-item {
			a {
				display: block;
				height: 15px;
				img {
					height: 100%;
					width: auto;
				}
			}
		}
	}
}
