.work {
	min-height: 1166px;
	padding: 129px 0 125px 0;

	&__item {
		img {
			display: block;
			width: 100%;
		}
		&-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 370px));
			grid-gap: 15px;
			margin: 0 auto;
			margin-top: 122px;
			justify-content: center;
		}
	}
}
@media (max-width: 1199.98px) {
	.work {
		padding: 85px 0;
		&__item {
			&-wrapper {
				margin-top: 85px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.work {
		&__item {
			&-wrapper {
				grid-template-columns: repeat(auto-fill, minmax(300px, auto));
			}
		}
	}
}
@media (max-width: 575.98px) {
	.work {
		padding: 40px 0;
		
		&__item {
			&-wrapper {
				margin-top: 60px;
			}
		}
	}
}
